.hero_section {
    position: relative;
    background: url("../assets/hero/hero-1.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 170px;
    padding-bottom: 90px;
}

.hero_section .price_badge {
    background: url("../assets/hero/price-badge-yellow.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: -20px;
    right: 5px;
    width: 180px;
    height: 176px;
    text-align: center;
}

.hero_section .badge_text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero_section .badge_text .h4_xs {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1;
}

.hero_section .badge_text .h3_lg {
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 1;
}

.hero_section .hero_text h1 {
    font-family: var(--lilita-font);
    font-size: 7rem;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.hero_section .hero_text h2 {
    font-family: var(--lilita-font);
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.hero_section .hero_text p {
    padding: 0 5%;
}


/* Home about section 2 */
.about_section {
    padding-top: 80px;
    padding-bottom: 300px;
    background: url("../assets/about/about-1.jpg") no-repeat center center;
    background-size: cover;
}

.about_section h2 {
    font-size: 3.5rem;
}

.about_section p {
    color: var(--grey);
    padding: 20px 30px;
    font-size: 19px;
}

.about_wrapper {
    background: var(--yellow);
    padding-top: 70px;
    padding-bottom: 30px;
}

.about_box .about_icon img {
    max-width: 25%;
}

.about_box h4 {
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.5008px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.about_box p {
    padding: 0 26px;
}

/* Home section menu section 3 */
.menu_section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.menu_section .card-img-top {
    transition: all 500ms ease-in-out;
}

.menu_section h2 {
    font-size: 3.5rem;
    color: var(--light-red);
}

.menu_section .para {
    color: var(--grey);
    padding: 10px 100px;
    font-size: 19px;
}

.menu_section .item_rating i {
    color: var(--yellow);
    padding-right: 5px;
}

.menu_section .wishlist i {
    color: var(--grey);
    font-size: 20px;
    cursor: pointer;
}

.menu_section .wishlist i:hover {
    color: var(--light-red);

}

.menu_section .card-title {
    font-family: var(--oswald-font);
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.menu_section .card-text {
    color: var(--grey);
    font-size: 15px;
}

.menu_section .menu_price {
    background-color: var(--bg-coffee);
    display: inline-block;
    padding: 7px 12px;
    border-radius: 4px;
}

.menu_section .menu_price h5 {
    color: var(--yellow);
    font-size: 1rem;
}

.menu_section .add_to_card a {
    background: var(--yellow);
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(100px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.menu_section .card:hover .card-img-top {
    transform: scale(1.1);
}

.menu_section .card:hover .add_to_card a {
    transform: translateY(0px);
    opacity: 1;
}

.menu_section .ads_box {
    text-align: right;
    padding: 80px 35px 50px;
    border-radius: 6px;
}

.menu_section .ads_img1 {
    background: url("../assets/menu/ads-1.jpg") no-repeat center center;
    background-size: cover;
}

.menu_section .ads_img2 {
    background: url("../assets/menu/ads-2.jpg") no-repeat center center;
    background-size: cover;
}

.menu_section .ads_box h4 {
    font-size: 2.25rem;
    font-weight: 300;
    color: var(--brown);
}

.menu_section .ads_box h5 {
    font-size: 2.735 rem;
    color: var(--brown);
}

.menu_section .ads_box a {
    margin-top: 15px;
    font-size: 18px;
}

/* HOme promotion section 4 */
.promotion_section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--light-grey);
}

.promotion_section h2 {
    font-size: 3.25rem;
    margin-bottom: 25px;
}

.promotion_section p {
    font-size: 1.25rem;
}

.promotion_section ul {
    padding-left: 15px;
}

/* Home parallax in section 4 */
.bg_parallax_scroll {
    background: url("../assets/parallax/bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}

/* Section 5 home download app */
.shop_section {
    padding: 100px 0 0;
    background: var(--yellow);
}

.shop_section h4 {
    font-size: 2.375rem;
    font-weight: 400;
    color: var(--bg-coffee);
}

.shop_section h2 {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--bg-coffee);
}

.shop_section p {
    font-size: 1.12rem;
    padding-right: 10%;
    color: var(--bg-coffee);
    margin-bottom: 40px;
}

.shop_section .store {
    max-width: 40%;
}

.shop_section .e_shop {
    text-align: center;
}

.brand_section {
    padding: 70px 0 40px;
    background: var(--light-grey);
    overflow: hidden;
}

.brand_section .brand_img {
    width: 180px;
    height: auto;
}

.carousel.slide .carousel-inner {
    overflow: unset;
}

.carousel.slide .carousel-inner .carousel-caption {
    position: relative;
    right: unset;
    left: unset;
}

/* HOme blog section 6 */
.blog_section {
    padding: 80px 0 50px;
    background: url("../assets/blog/reviews.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.blog_section .user_img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 25px;
}

.blog_section .carousel.slide .carousel-inner .carousel-caption p {
    font-size: 1.7rem;
    line-height: 1.45;
    font-weight: 400;
    padding: 0 12%;
    margin-bottom: 25px;
}

.blog_section .carousel.slide .carousel-inner .carousel-caption .item_rating i {
    color: var(--yellow);
    margin-right: 5px;
}

.blog_section .carousel.slide .carousel-inner .carousel-caption h5 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* Section 7 Contact */
.contact_section {
    background: url("../assets/footer/banner-1.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact_section h4 {
    font-size: 2.375rem;
    font-weight: 400;
    margin-bottom: 25px;
}

.contact_section h2 {
    font-size: 4.5rem;
    margin-bottom: 25px;
}

.contact_section p {
    width: 70%;
    margin: 0 auto 30px;
}

.contact_section a {
    font-size: 22px;
    font-weight: 700;
}

/* Footer */
footer {
    padding-top: 80px;
}

footer h5 {
    color: var(--light-black);
    line-height: 1;
    margin-bottom: 25px;
}

footer p {
    margin-bottom: 3px;
    font-size: 1rem;
}

footer .calling {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--yellow);
}

footer ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}

footer .copy_right {
    border-top: 1px solid var(--light-grey-2);
    margin-top: 60px;
    padding: 20px 0;
    text-align: center;
}

footer .copy_right ul li span {
    color: var(--light-red);
    font-weight: 600;
    padding-left: 10px;
}

footer .copy_right ul li {
    font-size: 1rem;
    padding: 0 10px;
    position: relative;
}

/* Media query mobiles  */
@media (max-width:767px) {

    /* section 1 */
    .hero_section .hero_text h1 {
        font-size: 5.5rem;
    }

    /* Home menu sec 3 */
    .menu_section .para {

        padding: 10px 0px;
    }

    /* Home shop 6  */
    .shop_section h4 {
        font-size: 1.8rem;
    }

    .shop_section h2 {
        font-size: 3.75rem;
    }

    .brand_section {
        padding: 50px 0 10px;
    }

    .brand_section .brand_img {
        width: 70px;
        height: auto;
    }

    /* Home blog section 6 */
    .blog_section .carousel.slide .carousel-inner .carousel-caption p {
        font-size: 1rem;
    }
}

@media (max-width:992px) {

    /* home about section 2 heading */
    .about_section h2 {
        font-size: 2.5rem;
    }

    .about_section p {
        padding: 20px 0;
    }

    .about_box p {
        padding: 0;
    }


    /* Home parallax */
    .bg_parallax_scroll {
        background-attachment: scroll;
        height: 500px;
    }
}

/* media query for section section 3 and 4 */
@media (max-width:1200px) {

    /* Home promotion */
    .promotion_section h2 {
        font-size: 2.25rem;
    }

    /* Home contact section 7 */
    .contact_section p {
        width: 100%;
    }

    .contact_section h2 {
        font-size: 3.5rem;

    }
}

@media (max-width:280px) {
    .hero_section .hero_text h1 {
        font-size: 4rem;
    }

    .hero_section .hero_text {
        padding-top: 4rem;
    }

}

/* ---------chat bot css */



/* .chat-iframe-container {
    position: fixed;
    bottom: 8rem;
    right: 75px;
    z-index: 999;
    width: 27rem;
    height: 32rem;
  border-radius: 12px;
} */


/* .chat-iframe-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 33%;
    height: 70%;
    border-radius: 12px;
        margin: 20px
}

.chat-iframe-container iframe {
    width: 500px;
    height: 600px;
    border: none;
    border-radius: 12px;
        position: absolute;
    bottom: 0;
    right: 0;
} */

/* @media (max-width: 400px) {

.chat-iframe-container{
    width: 100%;
    height: 100%;
}

.chat-iframe-container iframe{
    right: -12px;
}
}

@media (max-width: 360px) {

.chat-iframe-container{
    width: 90%;
    height: 90%;
}

.chat-iframe-container iframe{
    right: -12px;
}
}
 */

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 420px;
    aspect-ratio: 7 / 8;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    background: transparent;
    /* background: white; */
    overflow: hidden;
}

.chatbot-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
/* iframe{
        width: 100%;
    height: 100%;
    border: none;
} */

@media (max-width: 416px) {
    .chatbot-container {
        width: 375px;
        aspect-ratio: 7 / 9;
    }


}